@import "../../variable.scss";

.available-app {
  font-size: 12px;
  list-style: none;
  height: 40px;
  padding-left: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 1px solid $background-light;
  }

  @each $i, $color in $primary-color {
    &.available-app-#{$i} {
      border-left: 3px solid $color;

      .add-button.small {
        background: linear-gradient(
          125deg,
          nth($secondary-color, $i) 0%,
          $color 100%
        );
        border-color: nth($secondary-color, $i);
      }
    }
  }
}

.available-apps {
  list-style: none;
  background: $background-dark;
  padding: 0;
  overflow: auto;
}

.available-apps-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  margin-right: 7px;
  user-select: none;
}
