$background-light: #181818;
$background-dark: #0c0c0c;
$disable-button: #464646;

$primary-color: (
  1: #f81eb9,
  2: #5f2ee1,
  3: #188ffc,
  4: #30ddb4,
  5: #66e53e
);

$secondary-color: #b821ca, #1f3ef1, #23cef8, #3ee48f, #76f730;
